{{ define "main" }}
<!DOCTYPE html>
    <h1>Dainton Copse Forest School CIC</h1>
    <!--    <div class="hero">
        <div class="hero__header"></div>
    </div>-->
    <h3>Welcome to Dainton Copse Forest School!</h3>
    <br>
    <!--<div class="imageButtons">
    <a href="/community"> <img src="\kitchen.jpg" alt="Mud Kitchen" style="padding:10px"> </a>
    <a href="/activities"> <img src="\camp.jpg" alt="The Camp" style="padding:10px"></a>
    </div>-->
    <div class="responsive">
    <div class="gallery">
        <a href="/community">
          <img src="\campfirepoeple.jpg" alt="Community" width="600" height="400" >

          <h4 class="imageButton"> Click for Community</h4>

        </a>
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
          <a href="/team"> <!-- add target="_blank" opens href to a new tab-->
            <img src="\saraandkids.jpg" alt="Team" width="600" height="400">
            <h4 class="imageButton"> Click for Team</h4>
          </a>
        </div>
      </div>
    <div class="responsive">
    <div class="gallery">
        <a href="/sessions"> <!-- add target="_blank" opens href to a new tab-->
          <img src="\campfirehotchoc.jpg" alt="Sessions" width="600" height="400">
          <h4 class="imageButton"> Click for Sessions</h4>
        </a>
      </div>
    </div>
    </div>
    <div>
    <br> 
    <p>We are a Community Interest Company passionate about inspiring and educating the future caretakers of our planet.</p>

    <p>We know that sharing our beautiful woodland will have a positive impact on everyone who visits.</p>

    <p>In our beautiful woodland setting,  your children will have loads of fun making wonderful memories and learning to respect and care for our environment. Through child-led experiences, they will develop an appreciation and knowledge of the natural environment through all four seasons. They can choose to take part in woodland crafts, campfire songs, marshmallow toasting, hot chocolate drinking and will have lots of time for free play. In our woodland there are quiet places to sit, watch and listen, spaces to chat with friends, areas where their creativity and imagination can flow, things to question, things to count, sensory experiences to investigate and places to explore reading and writing. 
    </p>
    <br>
    </div>
{{ end }}
